.memoryCard {
  perspective: 1000px;
  width: 180px;
  height: 120px;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  pointer-events: none;
}

.open .card {
  transform: rotateY(180deg);
}

.open {
  pointer-events: none;
}

.frontCard,
.backCard {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--pjm-border-radius-big);
  object-fit: cover;
  pointer-events: none;
}

.frontCard {
  transform: rotateY(180deg);
}

.newCard {
  pointer-events: none;
}